# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/

data/*.csv
# Generated Outputs
outputs/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db